spring:
  datasource:
    url: jdbc:oracle:thin:${DB_HOST:@flightontimedb_tp}?TNS_ADMIN=${TNS_ADMIN:C:/Users/faner/wallet}
    username: ${DB_USERNAME:ADMIN}
    password: ${DB_PASSWORD:Flightontime123@}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect

server:
  port: 8081

logging:
  level:
    com.fligthontime.flightpredictor: INFO

fastapi:
  base-url: https://search-periods-principle-weed.trycloudflare.com